:root {
    /* Muted pastel colors */
    --muted-pink: #f7d7d4;
    --muted-blue: #d4e1ed;
    --muted-green: #e0e9c8;
    --muted-teal: #b0c4d9;
    --muted-lavender: #e3d5f1; /* New color for project items */
    --text-gray: #4a4a4a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--muted-blue);
    color: var(--text-gray);
}

header {
    background-color: var(--muted-green);
    color: var(--text-gray);
    text-align: center;
    padding: 2em 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    color: var(--text-gray);
}

/* Different colors for experience and project items */
.experience-item {
    background-color: var(--muted-pink);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.project-item {
    background-color: var(--muted-lavender); /* Muted lavender for projects */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.experience-item:hover, .project-item:hover {
    transform: translateY(-3px);
}

footer {
    background-color: var(--text-gray);
    color: #8c8c8c;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 1px; /* Increases space between letters */
    line-height: 1.8; /* Increases vertical space between lines */
}

footer a {
    color: #89c9d7;
    text-decoration: none;
    letter-spacing: 1px; /* Apply letter spacing to links as well */
}

footer a:hover {
    text-shadow: 0 0 3px #89c9d7;
}